[defaults]
inventory=./inventory
collections_paths=/home/student/devops/collections:/usr/share/ansible/collections
remote_user=devops
[privilege_escalation]
become=true

[galaxy]
server_list = published_repo

[galaxy_server.published_repo]
url=https://hub.lab.example.com/api/galaxy/content/published/
token=507cc786504ba580e799be6b4ad482129bb5a82e

